<h2>Edit your Artistree Account!</h2>


<form class="" action="/edit" method="post">
 <label for="name">Name: </label>
 <input type="text" name="name" required>
 <br><br>
 <label for="email">Email: </label>
 <input type="text" name="email"  >
 <br><br>
 <label for="password">Password: </label>
 <input type="password" name="password"  >
 <br><br>
 <label for="bio">Bio: </label>
 <input type="text" name="bio"  >
 <br><br>
 <label for="image_url">image Url: </label>
 <input type="text" name="image_url"   >
 <br><br>
 <label for="intrest">Interest: </label>
 <input type="text" name="intrest" >
 <br><br>
 <label for="location">Location: </label>
 <input type="text" name="location"  >
 <br><br>
 <label for="related_achievements">Related Achievements:</label>
 <input type="text" name="related_achievements" >
 <br><br>
 <% if authorized_to_edit_user?(@user) %>
 <a href="/users/<%= @user.id %>/edit">Edit your Artistree</a>
 </form>

 <a href="/">back</a>











