<h1>Edit Post!</h1>

<form method="post" action="/posts/<%= @post.id %>">
<input id="hidden" type ="hidden" name="_method" value="patch">
Work<input type="text" value= "<%= @post.work %>" name="work"><br><br>
Description<input type="text" value="<%= @post.description %>" name="description"><br><br>
Link<input type="text" value="<%= @post.link%>" name="link"><br><br>
<input type="submit" name="" value="Edit Post">
</form>


