<h1>Edit Post!</h1>

<form class="" action="/posts/<%= @post.id %>" method="post">
<input type="hidden" name="_method" value="patch">
<label for="work">Work:</label>
<input type="text" name="work" value="<% @post.work %>">
<label for="description">Description:</label>
<textarea name="description" style="width:auto; height:auto;" ><% @post.description %>">
<label for="link">Link:</label>
<input type="text" name="link" value="<% @post.link %>">
<input type="submit" name="" value="Edit Post">
</form>


