<h1>Publish A New Work !</h1>
<form class="" action="/posts" method="post">
<label for="">Work:</label>
<input type="text" name="work" value="">
<label for="">Description:</label>
<input type="text" name="description" value="">
<label for="">Work Link:</label>
<input type="text" name="link" value="">
<input type="submit" name="link" value="Create a leaf in your Artistree">
</form>
