<div class="container">
   <h1>Welcome to Artistree!</h1>
   <h2>The Leading Artistic Social Media Platform</h2>
   <img src="https://www.anschechesed.org/wp-content/uploads/2017/05/Musical-Tree-300x300.jpg" alt="artistree image" width="500" height="600">
   <br><br>
   <a href="/login">Log In</a> OR <a href="/signup">Sign UP</a>
   
</div>
