<div class="container">
   <h1>Welcome to Artistree!</h1>
   <h2>The Leading Artistic Social Media Platform</h2>
   <h3 style="color:green;">Artistry. Artist Tree. Artistree</h3>
   <h4>Connecting Artists and Creatives Daily !<h4>
   <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT6iD17_viJbzr21coo3yWlH6lFcsEaa0yHNA&usqp=CAUwidth="100" height="400"">
   <br><br>
   <a href="/login">Log In</a> OR <a href="/signup">Create Account</a>
</div>
