<div class="container">
   <h1>Welcome to Artistree!</h1>
   <img src="https://www.flickr.com/photos/elizabethgadd/48464526327" alt="artistree image" width="500" height="600">
   <a href="/login">Log In</a> OR <a href="/signup">Sign UP</a>
   
</div>
